
<span id="home">LitReview</span>
<span class="top-navigation">
    <a class="navigation" id ="flow" href="/flow"
    style="text-decoration: none">Flow</a>
    <a class="navigation" id ="posts" href="/flow/posts"
    style="text-decoration: none">Post</a>
    <a class="navigation" id ="subcription" href="/flow/subcription"
    style="text-decoration: none">Subscription</a>
    <a class="navigation" id="disconnect" href="/account/logout" 
    style="text-decoration: none">Disconnect</a>
</span>
<hr>
