{% for post in posts %}
    {% for follow in follows %}
        {% if post.user == follow.followed_user %}
            {% if post.content_type == 'TICKET' %}
                {% include 'blocks\ticket_snippet.html' %}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'blocks\review_snippet.html' %}
            {%endif%}
        {%endif%}
    {% endfor %}	
    {% if post.user == user %}
        {% if post.content_type == 'TICKET' %}
            {% include 'blocks\ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'blocks\review_snippet.html' %}
        {%endif%}
    {%endif%}
{% endfor %}	