<!DOCTYPE html
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>LitReview</title>
		{% load static %}
		<link href="{% static 'subcription/style.css' %}" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="overlay-container">
			<div class="overlay">
				<div class="header">
				{% include 'blocks/header.html' %}
				</div>	
				<h3>Follow other users</h3>
				<form method="POST">
					{% csrf_token %}
					{{followform.as_p}}
					<button type="submit" >Confirmer</button>
				</form>
				
			</div>
			<div class="footnote">
				<span id="user">user: {{user.username}}<span>
			</div>
		</div>

	</body>
	
	<script src="{% static 'subcription/script.js' %}" type="text/javascript"></script>
</html>
